.gallery-card31-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.gallery-card31-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.num6-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-light);
}

.num6-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}

.num6-image {
  width: 45px;
  height: 37px;
  object-fit: cover;
}

.num6-logo {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}

.num6-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.num6-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.num6-nav12 {
  transition: 0.3s;
  text-decoration: none;
}

.num6-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.num6-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.num6-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.num6-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.num6-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.num6-burger-menu {
  display: none;
}

.num6-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.num6-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.num6-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.num6-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.num6-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.num6-icon2 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.num6-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.num6-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav31 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav41 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.num6-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.num6-blog {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  justify-content: center;
}

.num6-hero {
  width: 100%;
  height: 2476px;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: 2px;
}

.num6-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.num6-hero-heading {
  font-size: 100px;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
}

.num6-text02 {
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}

.num6-text04 {
  font-size: 20px;
}

.num6-text07 {
  font-size: 20px;
}

.num6-text10 {
  font-size: 20px;
}

.num6-text13 {
  font-size: 20px;
}

.num6-text16 {
  font-size: 20px;
}

.num6-text19 {
  font-size: 20px;
}

.num6-gallery {
  width: 100%;
  height: 1067px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-right: 4px;
  flex-direction: column;
}

.num6-container2 {
  width: 100%;
  height: 1025px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.num6-container3 {
  width: 870px;
  height: 616px;
  margin-top: var(--dl-space-space-unit);
}

.num6-container4 {
  display: contents;
}

.num6-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num6-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.num6-container6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.num6-logo2 {
  margin-left: var(--dl-space-space-halfunit);
}

.num6-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}

.num6-nav11 {
  margin-left: 0px;
  text-decoration: none;
}

.num6-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.num6-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.num6-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.num6-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.num6-link1 {
  display: contents;
}

.num6-icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

@media(max-width: 991px) {
  .num6-hero {
    height: 2765px;
    flex-direction: column;
  }

  .num6-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }

  .num6-hero-heading {
    text-align: center;
  }

  .num6-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-container2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .num6-container3 {
    width: 696px;
    height: 549px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 767px) {
  .num6-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .num6-desktop-menu {
    display: none;
  }

  .num6-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .num6-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-hero {
    height: 2864px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .num6-container1 {
    width: 495px;
  }

  .num6-hero-heading {
    width: 687px;
    padding-right: 5px;
  }

  .num6-text {
    font-size: 60px;
  }

  .num6-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .num6-container2 {
    grid-template-columns: 1fr 1fr;
  }

  .num6-container3 {
    width: 501px;
  }

  .num6-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .num6-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .num6-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .num6-text22 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

@media(max-width: 479px) {
  .num6-navbar-interactive {
    height: 102px;
    padding: var(--dl-space-space-unit);
  }

  .num6-mobile-menu1 {
    padding: 16px;
  }

  .num6-hero {
    height: 3230px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .num6-container1 {
    width: 301px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .num6-hero-heading {
    width: 296px;
    max-width: var(--dl-size-size-maxwidth);
  }

  .num6-text {
    font-size: 35px;
  }

  .num6-gallery {
    padding: var(--dl-space-space-unit);
  }

  .num6-container2 {
    grid-template-columns: 1fr;
  }

  .num6-container3 {
    width: 320px;
  }

  .num6-footer1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }

  .num6-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .num6-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .num6-text22 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}