.gallery-card31-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.gallery-card31-image {
  top: 0px;
  left: 0px;
  right: auto;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.complot-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-custom-neutral-light);
}

.complot-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}

.complot-image {
  width: 45px;
  height: 37px;
  object-fit: cover;
}

.complot-logo {
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}

.complot-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.complot-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.complot-nav12 {
  transition: 0.3s;
  text-decoration: none;
}

.complot-nav2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.complot-nav3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.complot-nav4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.complot-nav5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

.complot-buttons {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.complot-burger-menu {
  display: none;
}

.complot-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.complot-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.complot-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.complot-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.complot-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.complot-icon2 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}

.complot-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.complot-nav1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav21 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav31 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav41 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav51 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-buttons1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.complot-icon4 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

.complot-blog {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  justify-content: center;
}

.complot-hero {
  width: 100%;
  height: 2476px;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: 2px;
}

.complot-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.complot-hero-heading {
  font-size: 100px;
  max-width: 800px;
  text-align: center;
  font-weight: 700;
}

.complot-text02 {
  font-size: 20px;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}

.complot-text04 {
  font-size: 20px;
}

.complot-text07 {
  font-size: 20px;
}

.complot-text10 {
  font-size: 20px;
}

.complot-text13 {
  font-size: 20px;
}

.complot-text16 {
  font-size: 20px;
}

.complot-text19 {
  font-size: 20px;
}

.complot-gallery {
  width: 100%;
  height: 1067px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-right: 4px;
  flex-direction: column;
}

.complot-container2 {
  width: 100%;
  height: 1025px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.complot-container3 {
  width: 870px;
  height: 616px;
  margin-top: var(--dl-space-space-unit);
}

.complot-container4 {
  display: contents;
}

.complot-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complot-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.complot-container6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.complot-logo2 {
  margin-left: var(--dl-space-space-halfunit);
}

.complot-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}

.complot-nav11 {
  margin-left: 0px;
  text-decoration: none;
}

.complot-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-nav52 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.complot-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.complot-container7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.complot-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.complot-link1 {
  display: contents;
}

.complot-icon6 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}

@media(max-width: 991px) {
  .complot-hero {
    height: 2765px;
    flex-direction: column;
  }

  .complot-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }

  .complot-hero-heading {
    text-align: center;
  }

  .complot-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-container2 {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .complot-container3 {
    width: 696px;
    height: 549px;
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 767px) {
  .complot-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .complot-desktop-menu {
    display: none;
  }

  .complot-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .complot-nav1 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-nav21 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-nav31 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-nav41 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-nav51 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-hero {
    height: 2864px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .complot-container1 {
    width: 495px;
  }

  .complot-hero-heading {
    width: 687px;
    padding-right: 5px;
  }

  .complot-text {
    font-size: 60px;
  }

  .complot-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .complot-container2 {
    grid-template-columns: 1fr 1fr;
  }

  .complot-container3 {
    width: 501px;
  }

  .complot-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .complot-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .complot-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .complot-text22 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

@media(max-width: 479px) {
  .complot-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    margin-bottom: 45%;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }

  .complot-navbar-interactive {
    height: 102px;
    padding: var(--dl-space-space-unit);
  }

  .complot-mobile-menu1 {
    padding: 16px;
  }

  .complot-hero {
    height: 3230px;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .complot-container1 {
    width: 301px;
    margin-bottom: var(--dl-space-space-unit);
  }

  .complot-hero-heading {
    width: 296px;
    max-width: var(--dl-size-size-maxwidth);
  }

  .complot-text {
    font-size: 35px;
  }

  .complot-gallery {
    padding: var(--dl-space-space-unit);
  }

  .complot-container2 {
    grid-template-columns: 1fr;
  }

  .complot-container3 {
    width: 320px;
  }

  .complot-footer1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }

  .complot-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }

  .complot-container7 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .complot-text22 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}

@media (max-width: 375px) {
  .complot-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    margin-bottom: 135%;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
}

@media (max-width: 320px) {
  .complot-header {
    width: 100%;
    display: flex;
    z-index: 100;
    position: sticky;
    margin-bottom: 135%;
    align-items: center;
    flex-direction: column;
    background-color: var(--dl-color-gray-white);
  }
}